<% title "Basketball | Paradigm Sports Management" %>

<section class="header-16-sub home-content home-content-header basketball" id="header-content">
	<div class="background"></div>
	<div id="h-16-pt-main" class="page-transitions pt-perspective">
		<div class="v-center pt-page pt-page-1 pt-page-current">
			<div>
				<div class="container">
					<div class="hero-unit">
						<div id="logo-main">
							<h1>BASKETBALL<br>MANAGEMENT</h1>
						</div>
					</div>
				</div>
			</div>
			<span class="scroll-btn">
				<a href="#">
					<span class="mouse"><span> </span>
					</span>
				</a>
			</span>
		</div>
	</div>
</section>

<section class="content-32-basketball">
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<p>Paradigm has a full service basketball management division that specializes on the transition of players entering or departing the United States. Through our experience in representing top level professional athletes in the NFL, MMA, FIBA and MLS, we are able to provide services that most soccer firms lack. Our international experience working with professional soccer players allows us to provide our clients an advantage when negotiating with clubs. Our expertise focuses on contract negotiation, loans, transfers and securing tryouts.</p>
			</div>
		</div>
	</div>
</section>

<section class="content-31" style="padding-bottom:0px;">
	<div class="container">
		<div class="row">
			<div class="number">1</div>
			<div class="col-sm-8 col-sm-offset-2">
				<h3>CONTRACT NEGOTIATIONS</h3>
				<p>Paradigm consists of attorneys and MBAs with over 25 years of corporate and sports contractual experience.  Paradigm holds extensive contract negotiations experience both domestically and internationally across numerous leagues. Paradigm Basketball provides an extensive, detailed oriented negotiation on behalf of clients. We will work endlessly to ensure our client’s contract reflects your ability and value to your organization.</p>
			</div>
		</div>
		<div class="row">
			<div class="number">2</div>
			<div class="col-sm-8 col-sm-offset-2">
				<div id="pt-1" class="page-transitions pt-perspective">
					<div class="pt-page pt-page-current">
						<h3>PERFORMANCE MANAGEMENT</h3>
						<p>No agent works miracles. It is the persistence and hard work of every player that allows them to succeed. There are however, very important strategic measure that Paradigm provides clients before, during and after their playing career.</p>
						<br>
						<h4>Player Performance Evaluations</h4>
						<h4>Access to Top Off-Season Training Preparation</h4>
						<h4>Mental Conditioning & Sports Psychology</h4>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="number">3</div>
			<div class="col-sm-8 col-sm-offset-2">
				<div id="pt-2" class="page-transitions pt-perspective">
					<div class="pt-page pt-page-current">
						<h3>LIFESTYLE MANAGEMENT</h3>
						<p>Paradigm focuses on the establishment of personal relationships with our clients. This allows us to provide a quality lifestyle services specifically based on individual requirements. Our Basketball division provides transparent and consistent service in all areas of their life:</p>
						<br>
						<p>- Relocation Assistance via The Dingman Group<br>- Extensive experience with US and International tax requirements<br>- Legal Counseling from in house general counsel<br>- Financial  Management services via trusted external advisors</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="projects-2-basketball">
	<div class="project-1 v-center-basketball">
	</div>
</section>

<section class="content-32-basketball">
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<h3>MARKETING MANAGEMENT</h3>
				<p>Paradigm provides an integrated marketing plan, developed exclusively for each client. Our team of marketing professionals analyze the personality, the position and performance of our clients to maximize ancillary income. We aggressively pursue marketing opportunities for each clients through:</p>
				<br>
				<p>Brand Building and Management<br>- Public Relations<br>- Sponsorship<br>- Endorsements<br>- Local and national media campaigns<br>- Social Media Activation<br>- Seminar and Speaking Appearances</p>
			</div>
		</div>
	</div>
</section>


<script>
	(function($) {
		$('.v-center-basketball').each(function() {
			if (! isMobile.any() ) {
				$(this).parallax('50%', 0.3, true);
			} else {
				$(this).css('background-attachment', 'initial')
			}
		})
	}(jQuery));
</script>
