<% title "Home | Paradigm Sports Management" %>
<section class="header-16-sub">
	<div id="h-16-pt-main" class="page-transitions pt-perspective">
	  <div class="v-center pt-page pt-page-1 pt-page-current bg-turquoise">
	    <div>
	      <div class="background">&nbsp;</div>
	      <div class="container">
	        <div class="hero-unit">
	          <h1>Test</h1>
	        </div>
	      </div>
	    </div>
	    <span class="scroll-btn"><a href="#"> <span class="mouse"><span> </span></span>SCROLL TO VIEW MORE</a>
	    </span>
	  </div>
	</div	>
</section>
<div class="delimiter"></div>