<% title "MMA | Paradigm Sports Management" %>

<section class="header-16-sub home-content home-content-header mma" id="header-content">
	<div class="background"></div>
	<div id="h-16-pt-main" class="page-transitions pt-perspective">
		<div class="v-center pt-page pt-page-1 pt-page-current">
			<div>
				<div class="container">
					<div class="hero-unit">
						<div id="logo-main">
							<h1>MMA<br>MANAGEMENT</h1>
						</div>
					</div>
				</div>
			</div>
			<span class="scroll-btn">
				<a href="#">
					<span class="mouse"><span> </span>
					</span>
				</a>
			</span>
		</div>
	</div>
</section>

<section class="content-32-mma">
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<p>Paradigm MMA Management is an industry leader in mixed martial arts management, offering clients a full range of services, including lucrative fighting opportunities, sponsorships, commission compliance, career guidance and much more. At Paradigm, our policy is “our fighters should worry about winning fights while we handle everything else”.</p>
				<br>
				<p>Through our experience in representing top level professional athletes in the NFL, MLB and MLS, we are able to provide services that most MMA firms lack. By bringing this top level representation into the MMA world, we are able to help clients in all aspects of their careers and provide opportunities other firms can’t. We understand each fighter has individual needs and wants and we use a holistic marketing approach to build each fighter’s brand to match their personality and provide them with the best opportunities during and after their fight careers.</p>
			</div>
		</div>
	</div>
</section>

<section class="content-31" style="padding-bottom:0px;">
	<div class="container">
		<div class="row">
			<div class="number">1</div>
			<div class="col-sm-8 col-sm-offset-2">
				<h3>CONTRACT NEGOTIATIONS</h3>
				<p>Paradigm provides an extensive, detailed oriented negotiation on behalf of clients. We will work endlessly to ensure our client’s contract reflects your ability and value to your organization. As an industry leader in MMA, Paradigm uses existing relationships with over 30 fight promotions throughout the world, including UFC, Bellator, WSOF, Titan FC, RFA, etc.</p>
			</div>
		</div>
		<div class="row">
			<div class="number">2</div>
			<div class="col-sm-8 col-sm-offset-2">
				<div id="pt-1" class="page-transitions pt-perspective">
					<div class="pt-page pt-page-current">
						<h3>PERFORMANCE MANAGEMENT</h3>
						<p>No agent works miracles. It is the persistence and hard work of every fighter that allows them to succeed in their promotion. There are however, very important strategic measures that Paradigm provides clients before, during and after their fighting career.</p>
						<br>
						<h4>Fight Camp/Training Camp</h4>
						<p>Access to the most decorated training facilities and gyms in the world that offer elite preparation for fight camps and discipline specific training camps</p>
						<br>
						<h4>Mental Conditioning</h4>
						<p>Brian Cain, one of the most sought after mental conditioning and peak performance coaches, and is one of the top speakers, consultants and coaches when it comes to maximizing your performance. He is also the #1 best-selling author of five sports psychology books and award-winning audio and video training programs.</p>
						<br>
						<p>Over 400 of his clients have gone on to get drafted into Major League Baseball, including over 25 in the first round.  He has helped train top picks in the NFL, NHL and NBA drafts.  In addition, he has worked closely in the corner of five Ultimate Fighting Championship World Champions, including UFC Superstar Georges St. Pierre and numerous Major League Baseball All-Stars.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="number">3</div>
			<div class="col-sm-8 col-sm-offset-2">
				<div id="pt-2" class="page-transitions pt-perspective">
					<div class="pt-page pt-page-current">
						<h3>LIFESTYLE MANAGEMENT</h3>
						<p>Paradigm focuses on the establishment of personal relationships with our clients. This allows us to provide a quality lifestyle services specifically based on individual requirements. Our MMA division provides transparent and consistent service in all areas of their life:</p>
						<br>
						<p>- Relocation Assistance via The Dingman Group<br>- Extensive experience with US and International tax requirements<br>- Legal Counseling from in house general counsel<br>- Financial Management services via trusted external advisors</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="projects-2-mma">
	<div class="project-1 v-center-mma">
	</div>
</section>

<section class="content-32-mma">
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<h3>MARKETING MANAGEMENT</h3>
				<p>Paradigm provides an integrated marketing plan, developed exclusively for each client. Our team of marketing professionals analyze the personality, the position and performance of our clients to maximize ancillary income. We aggressively pursue marketing opportunities for each clients through:</p>
				<br>
				<p>Brand Building and Management<br>- Public Relations<br>- Sponsorship<br>- Endorsements<br>- Local and national media campaigns<br>- Social Media Activation<br>- Seminar and Speaking Appearances</p>
			</div>
		</div>
	</div>
</section>


<script>
	(function($) {
		$('.v-center-mma').each(function() {
			if (! isMobile.any() ) {
				$(this).parallax('50%', 0.3, true);
			} else {
				$(this).css('background-attachment', 'initial')
			}
		})
	}(jQuery));
</script>
