<% title "Services | Paradigm Sports Management" %>

<section class="header-16-sub home-content home-content-header about" id="header-content">
	<div class="background"></div>
	<div id="h-16-pt-main" class="page-transitions pt-perspective">
		<div class="v-center pt-page pt-page-1 pt-page-current">
			<div>
				<div class="container">
					<div class="hero-unit">
						<div id="logo-main">
							<h3>FIND OUT ALL OF OUR</h3>
							<h1>SERVICES</h1>
						</div>
					</div>
				</div>                
			</div>
			<span class="scroll-btn">
				<a href="#"> 
					<span class="mouse"><span> </span>
					</span> 
				</a>
			</span>
		</div>
	</div>
</section>
<!-- projects-2 -->
<section class="projects-2">
	<div class="project-1 v-center">
	  <div>
	    <!--v-center-->
	    <div class="container">
	      <h1>SOCCER MANAGEMENT</h1>
	      <button class="btn btn-inverse-service">Learn More</button>
	    </div>
	    <!--/.container-->
	  </div>
	  <!--/v-center-->
	</div>
	<div class="project-2 v-center">
	  <div>
	    <!--v-center-->
	    <div class="container">
	      <h1>BASKETBALL MANAGEMENT</h1>
	      <button class="btn btn-inverse-service">Learn More</button>
	    </div>
	    <!--/.container-->
	  </div>
	  <!--/v-center-->
	</div>
	<div class="project-3 v-center">
	  <div>
	    <!--v-center-->
	    <div class="container">
	      <h1>MMA MANAGEMENT</h1>
	      <button class="btn btn-inverse-service">Learn More</button>
	    </div>
	    <!--/.container-->
	  </div>
	  <!--/v-center-->
	</div>
		<div class="project-4 v-center">
	  <div>
	    <!--v-center-->
	    <div class="container">
	      <h1>FOOTBALL MANAGEMENT</h1>
	      <button class="btn btn-inverse-service">Learn More</button>
	    </div>
	    <!--/.container-->
	  </div>
	  <!--/v-center-->
	</div>
		<div class="project-5 v-center">
	  <div>
	    <!--v-center-->
	    <div class="container">
	      <h1>SPORTS MARKETING</h1>
	      <button class="btn btn-inverse-service">Learn More</button>
	    </div>
	    <!--/.container-->
	  </div>
	  <!--/v-center-->
	</div>
</section>