<% title "Soccer | Paradigm Sports Management" %>

<section class="header-16-sub home-content home-content-header soccer" id="header-content">
	<div class="background"></div>
	<div id="h-16-pt-main" class="page-transitions pt-perspective">
		<div class="v-center pt-page pt-page-1 pt-page-current">
			<div>
				<div class="container">
					<div class="hero-unit">
						<div id="logo-main">
							<h1>SOCCER<br>MANAGEMENT</h1>
						</div>
					</div>
				</div>
			</div>
			<span class="scroll-btn">
				<a href="#">
					<span class="mouse"><span> </span>
				</span>
			</a>
		</span>
	</div>
</div>
</section>

<section class="content-32-soccer">
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<p>Paradigm has a full service soccer management division that specializes on the transition of players entering or departing the United States. Through our experience in representing top level professional athletes in the NFL, MMA, FIBA and MLS, we are able to provide services that most soccer firms lack. Our international experience working with professional soccer players allows us to provide our clients an advantage when negotiating with clubs. Our expertise focuses on contract negotiation, loans, transfers and securing tryouts.</p>
			</div>
		</div>
	</div>
</section>

<section class="content-31" style="padding-bottom:0px;">
	<div class="container">
		<div class="row">
			<div class="number">1</div>
			<div class="col-sm-8 col-sm-offset-2">
				<h3>CONTRACT NEGOTIATIONS</h3>
				<p>Paradigm consists of attorneys and MBAs with over 25 years of corporate and sports contractual experience. Specifically, Paradigm holds contract negotiations experience in MLS (United States), La Liga (Spain), Superliga (Denmark), Costa Rican FPD, (Costa Rica) among others. Paradigm provides an extensive, detailed oriented negotiation on behalf of clients. We will work endlessly to ensure our client’s contract reflects your ability and value to your organization.</p>
			</div>
		</div>
		<div class="row">
			<div class="number">2</div>
			<div class="col-sm-8 col-sm-offset-2">
				<div id="pt-1" class="page-transitions pt-perspective">
					<div class="pt-page pt-page-current">
						<h3>PERFORMANCE MANAGEMENT</h3>
						<p>No agent works miracles. It is the persistence and hard work of every player that allows them to succeed in their promotion. There are however, very important strategic measures that Paradigm provides clients before, during and after their soccer career.</p>
						<br>
						<h4>Player Performance Evaluations</h4>
						<p>By leveraging Paradigm’s established relationship across European and domestic clubs,  it allows us to provide candid feedback on player performance to ensure player development.</p>
						<br>
						<h4>Off Season Training Preparation</h4>
						<p>Access to the most decorated training facilities in the country to offer elite preparation training for off season training regimens.</p>
						<br>
						<h4>Mental Conditioning & Sports Psychology</h4>
						<p>Brian Cain, one of the most sought after mental conditioning and peak performance coaches, and is one of the top speakers, consultants and coaches when it comes to maximizing your performance. He is also the #1 best-selling author of five sports psychology books and award-winning audio and video training programs.</p>
						<br>
						<p>Over 400 of his clients have gone on to get drafted into Major League Baseball, including over 25 in the first round.  He has helped train top picks in the NFL, NHL and NBA drafts.  In addition, he has worked closely in the corner of five Ultimate Fighting Championship World Champions, including UFC Superstar Georges St. Pierre and numerous Major League Baseball All-Stars.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="number">3</div>
			<div class="col-sm-8 col-sm-offset-2">
				<div id="pt-2" class="page-transitions pt-perspective">
					<div class="pt-page pt-page-current">
						<h3>LIFESTYLE MANAGEMENT</h3>
						<p>Paradigm focuses on the establishment of personal relationships with our clients. This allows us to provide a quality lifestyle services specifically based on individual requirements. Our Soccer division provides transparent and consistent service in all areas of their life:</p>
						<br>
						<p>- Relocation Assistance via The Dingman Group<br>- Extensive experience with US and International tax requirements<br>- Legal Counseling from in house general counsel<br>- Financial  Management services via trusted external advisors</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="projects-2-soccer">
	<div class="project-1 v-center-soccer">
	</div>
</section>

<section class="content-32-soccer">
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<h3>MARKETING MANAGEMENT</h3>
				<p>Paradigm provides an integrated marketing plan, developed exclusively for each client. Our team of marketing professionals analyze the personality, the position and performance of our clients to maximize ancillary income. We aggressively pursue marketing opportunities for each clients through:</p>
				<br>
				<p>Brand Building and Management<br>- Public Relations<br>- Sponsorship<br>- Endorsements<br>- Local and national media campaigns<br>- Social Media Activation<br>- Seminar and Speaking Appearances</p>
			</div>
		</div>
	</div>
</section>


<script>
(function($) {
	$('.v-center-soccer').each(function() {
		if (! isMobile.any() ) {
			$(this).parallax('50%', 0.3, true);
		} else {
			$(this).css('background-attachment', 'initial')
		}
	})
}(jQuery));
</script>
