.header-16-sub.about{
	.background {
		background-image:url(image-path("about-main.jpg"));
		opacity: .9;
		background-color: #000000;
		background-attachment: fixed;
	}
	h1 {
		border: none;
		font-size: 100px;
		font-weight: 500;
	}
	h3 {
		color: #ffffff;
		font-weight: 200;
		font-size: 30px;
		letter-spacing: 3px;
	}

}

.content-32-about {
	@extend .content-32;
	p {
		color: #838383;
		font-size: large !important;
	}
	h3 {
		color: black;
		font-weight: bold;
		font-size: xx-large !important;
		margin-bottom: 50px;
		@media(min-width: 767px) {
			font-size: 50px;
		}
	}
}
.container-fluid-about {
	@extend .container-fluid;
	padding-left: 0px !important;
	padding-right: 0px !important;
}