.header-16-sub.clients{
  .background {
    background-image:url(image-path("clients-main.jpg")) !important;
    opacity: .9;
    background-color: #000000;
    background-attachment: fixed;
  }
  h1 {
    border: none;
    font-size: 100px;
    font-weight: 500;
  }
  h3 {
    color: #ffffff;
    font-weight: 200;
    font-size: 30px;
    letter-spacing: 3px;
  }

}

.content-32-clients {
  @extend .content-32;
  background: #fafafa !important;
  p {
    color: #838383;
    font-size: larger;
    text-align: left;
  }
  h3 {
    color:#000000;font-size:20px;font-weight:700;
  }
  ul {
    display:inline-block;
  }
}
