<section class="footer-13">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-md-offset-1">
        <a href="#"><i class="fa fa-facebook fa-3x"></i></a>
      </div>
      <div class="col-md-2">
        <a href="#"><i class="fa fa-twitter fa-3x"></i></a>
      </div>
      <div class="col-md-2">
        <a href="#"><i class="fa fa-youtube fa-3x"></i></a>
      </div>
      <div class="col-md-2">
        <a href="#"><i class="fa fa-linkedin fa-3x"></i></a>
      </div>
      <div class="col-md-2">
        <a href="#"><a href="#"><i class="fa fa-facebook fa-3x"></i></a>
      </div>
    </div>
  </div>
</section>
<section class="footer-2 bg-midnight-blue">
  <div class="container">
    <nav class="pull-left">
      <p>© 2015 - All Rights Reserved</p>
    </nav>
    <div class="social-btns pull-right">
      Designed with &hearts; in miami by stilt media
    </div>
  </div>
</section>