<div class="container-fluid">
    <div class="row">
        <div class="navbar navbar-fixed-top" id="navbar">
            <div class="nav-user">
            <ul class="nav">
            <%= image_tag 'logo-sm.png', class: 'nav-apply' %>
            </ul>
            </div>
            <button type="button" class="navbar-toggle">
            <span>MENU</span>
            <div>CLOSE</div>
            </button>
            <div class="navbar-collapse collapse">
                <%= render 'layouts/navigation_links' %>
            </div>
        </div>
    </div>
</div>