<div class="container">
  <div class="row">
    <div class="navbar" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle">
          <span>MENU</span>
          <div>CLOSE</div>
        </button>
        <div class="navbar-collapse collapse">
          <ul class="nav">
            <%= render 'layouts/navigation_links' %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>